/* globals sitting start */
:root {
  --main-yellow: #f8c600;
  --main-transition: 0.3s ease;
  --secoundry-color: gray;
  --secoundry-yellow: #f9e107;
}
.user-profile * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.user-profile ul {
  list-style: none;
}
.user-profile a {
  cursor: pointer;
  text-decoration: none;
}
.user-profile .profile .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .user-profile .profile .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .user-profile .profile .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .user-profile .profile .container {
    width: 1170px;
  }
}
/* globals sitting end */
/* main start */
/* user-profile .profile user-profile .details start */
.user-profile .profile {
  padding: 50px 0;
  background-color: #fbfbfb;
}
.user-profile .profile .details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-profile .details .left-side {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}
.user-profile .details .left-side h1 {
  font-size: 35px;
}
.user-profile .details .left-side .role {
  color: var(--secoundry-color);
  min-width: 160px;
  text-align: center;
}
.user-profile .details .left-side .student-number {
  margin: 10px 0px 10px;
  font-size: 22px;
  color: var(--secoundry-color);
}
.user-profile .details .left-side .student-number span {
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.user-profile .details .left-side .rating-number {
  margin: 0 0px 20px;
  font-size: 22px;
  color: var(--secoundry-color);
}
.user-profile .details .left-side .rating-number span {
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.user-profile .details .left-side .about-me {
  width: 80%;
}
.user-profile .details .left-side .about-me h2 {
  margin-bottom: 5px;
}
.user-profile .details .left-side .about-me p {
}
.user-profile .details .right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-profile .details .right-side img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 25px;
}
.user-profile .details .right-side .send-message {
  background-color: var(--main-yellow);
  padding: 9px 12px;
  margin-bottom: 15px;
  color: white;
  transition: var(--main-transition);
  font-weight: 500;
  min-width: 160px;
  text-align: center;
}
.user-profile .details .right-side .send-message:hover {
  background-color: var(--secoundry-yellow);
  color: rgb(66, 66, 66);
}
.user-profile .details .right-side .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 7px;
}
.user-profile .details .right-side .link {
  padding: 6px 8px;
  background-color: var(--main-yellow);
  border-radius: 50%;
  color: black;
  text-decoration: none;
  transition: var(--main-transition);
}
.user-profile .details .right-side .link:hover {
  background-color: var(--secoundry-yellow);
  color: rgb(30, 30, 30);
}
.user-profile .edit {
  color: var(--main-yellow);
  text-decoration: none;
  margin: 20px 0;
  transition: var(--main-transition);
  min-width: 100px;
  text-align: center;
}
.user-profile .edit:hover {
  color: var(--secoundry-yellow);
}
@media (max-width: 600px) {
  .user-profile .profile .details {
    flex-direction: column-reverse;
  }
  .user-profile .details .left-side {
    align-items: center;
  }
  .user-profile .details .left-side .about-me {
    width: 100%;
    text-align: center;
  }
}
/* user-profile .profile user-profile .details end */
/* popular courses start */
.user-profile .courses-view .container {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-profile .courses-view .heading {
  width: 100%;
  display: flex;
  justify-content: center !important;
  margin-bottom: 50px;
}
.user-profile .courses-view .heading h2 {
  font-size: 28px;
}

.user-profile .courses-view .heading a:hover {
  background-color: var(--secoundry-yellow);
}
.user-profile .courses-view .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 460px) {
  .user-profile .courses-view .heading a {
    padding: 10px 15px;
    font-size: 14px;
  }
  .user-profile .courses-view .heading h2 {
    font-size: 22px;
  }
}
@media (max-width: 380px) {
  .user-profile .courses-view .heading a {
    padding: 10px 12px;
    font-size: 11px;
  }
  .user-profile .courses-view .heading h2 {
    font-size: 18px;
  }
}
@media (max-width: 315px) {
  .user-profile .courses-view .heading a {
    padding: 8px 10px;
    font-size: 10px;
  }
  .user-profile .courses-view .heading h2 {
    font-size: 16px;
  }
}
.user-profile .seeCourses {
  background-color: var(--main-yellow);
  color: black;
  padding: 5px 10px;
  border-radius: 8px;
  transition: var(--main-transition);
}
.user-profile .seeCourses:hover {
  color: black;
}
/* popular courses end */
/* main end */
