/* globals sitting start */
:root {
  --main-yellow: #f8c600;
  --main-transition: 0.3s ease;
  --secoundry-color: gray;
  --secoundry-yellow: #f9e107;
}
.cart-container * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.cart-container ul {
  list-style: none;
}

.cart-container .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .cart-container .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .cart-container .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .cart-container .container {
    width: 1170px;
  }
}
/* globals sitting end */
/* main start */
/* cart start */
.cart-container .cart-detail {
  margin: 30px 0;
}
.cart-container .cart-detail .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cart-container .cart-detail .content h1 {
  font-size: 30px;
  margin-bottom: 20px;
}
.cart-container .cart-detail .products {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}
.cart-container .cart-detail .product {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  border-top: 1px solid var(--secoundry-color);
  align-items: center;
  gap: 20px;
}
.cart-container .cart-detail .product img {
  width: 200px;
  border-radius: 15px;
}
.cart-container .cart-detail .product h2 {
  text-align: center;
}
.cart-container .cart-detail .product .actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.cart-container .cart-detail .product .actions p {
  font-size: 20px;
  font-weight: 600;
}
.cart-container .cart-detail .product .actions button {
  background-color: transparent;
  border: none;
  color: #ff2222;
  transition: var(--main-transition);
  cursor: pointer;
}
.cart-container .cart-detail .product .actions button:hover {
  color: #c30101;
}
.cart-container .cart-detail .output {
  margin-top: 25px;
  border-top: 1px solid var(--secoundry-color);
  width: 100%;
  display: flex;
  gap: 20px;
  padding-top: 20px;
  justify-content: flex-start;
  flex-direction: row-reverse;
}
.cart-container .cart-detail .output .price-final {
  font-size: 20px;
  font-weight: 600;
}
.cart-container .cart-detail .output .checkout,
.cart-container .cart-detail .output .continue {
  text-decoration: none;
  background-color: var(--main-yellow);
  padding: 10px 12px;
  border-radius: 15px;
  color: white;
  transition: var(--main-transition);
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.cart-container .cart-detail .output .checkout:hover,
.cart-container .cart-detail .output .continue:hover {
  background-color: var(--secoundry-yellow);
}
@media (max-width: 520px) {
  .cart-container .cart-detail .content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .cart-container .cart-detail .content h1 {
    margin-bottom: 0;
    order: 1;
  }
  .cart-container .cart-detail .products {
    border-bottom: 2px solid;
    margin-bottom: 20px;
    gap: 10px;
  }
  .cart-container .cart-detail .product {
    align-items: center;
    flex-direction: column;
    gap: 0px;
  }
  .cart-container .cart-detail .product img {
    width: 80%;
  }
  .cart-container .cart-detail .product .actions {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 15px;
  }
  .cart-container .cart-detail .output {
    margin-top: 25px;
    border-top: 1px solid var(--secoundry-color);
    width: 100%;
    padding-top: 20px;
    padding-left: 0px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
}
/* cart end */
/* main end */
