/* global variables start */
:root {
  --main-yellow: #f8c600;
  --main-transition: all 0.2s ease;
}
.bg-main-blue {
  background-color: var(--main-yellow);
}
.helper {
  height: 60px;
}
/* global variables end */
/* top nav bar and middle z-index start*/
/* .top-nav {
  height: 60px;
  z-index: 11;
}
.navbar-expand .navbar-nav .dropdown-menu {
  left: -70px;
} */

/* top nav bar and middle z-index end*/
/* middle navbar start */
.middle-link {
  color: black;
  font-size: 16px;
  font-weight: 400;
}
.middle-link:hover {
  color: var(--main-yellow);
}
.activeDropNav:focus {
  background-color: white;
}
.activeDropNav span {
  color: var(--main-yellow);
}
.middle-navBar {
  box-shadow: 0px 1px 20px 0px #0000002b;
}
.full-nav-width {
  width: 100%;
}
/* middle navbar end */
/* bottom navbar start*/

.bottom-nav .icon-link {
  font-size: 25px !important;
}

/* bottom navbar end */
