body {
  background-color: #fafafa;
  font-family: "Montserrat", sans-serif;
}
.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader div {
  scale: 2;
}
